body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}

/* R170104~12 */
c,ch {display:block; text-align:center;}
h,ch,rh,sup {cursor:help;}
wn {font-weight:normal;}
rh,rb,rbb {display:block; text-align:right;}
rb,rbb {color:blue;}
rbb {font-weight:bold;}
sup {font-size:7px; color:darkgreen; background-color:yellow;}
sq {font-family:Times New Roman;font-size:8px;}