	.datagrid-cell-c1-url{
		display: none;
	}
	.datagrid-cell-c1-parameter{
	   display: none;
	}
	.datagrid-cell-c1-httpWay{
	   display: none;
	}
	.datagrid-cell-c1-returnState{
	   display: none;
	}
	.datagrid-cell-c2-url{
		display: none;
	}
	.datagrid-cell-c2-parameter{
	   display: none;
	}
	.datagrid-cell-c2-httpWay{
	   display: none;
	}
	.datagrid-cell-c2-returnState{
	   display: none;
	}
	.datagrid-cell-c3-url{
		display: none;
	}
	.datagrid-cell-c3-parameter{
	   display: none;
	}
	.datagrid-cell-c3-httpWay{
	   display: none;
	}
	.datagrid-cell-c3-returnState{
	   display: none;
	}
	.datagrid-cell-c4-url{
		display: none;
	}
	.datagrid-cell-c4-parameter{
	   display: none;
	}
	.datagrid-cell-c4-httpWay{
	   display: none;
	}
	.datagrid-cell-c4-returnState{
	   display: none;
	}
	.datagrid-cell-c5-url{
		display: none;
	}
	.datagrid-cell-c5-parameter{
	   display: none;
	}
	.datagrid-cell-c5-httpWay{
	   display: none;
	}
	.datagrid-cell-c5-returnState{
	   display: none;
	}