<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iboyaa.dao.IUserInfoDao">
	<resultMap id="BaseResultMap" type="com.iboyaa.pojo.UserInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="customer" property="customer" jdbcType="VARCHAR" />
		<result column="manager" property="manager" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, customer, manager, phone, createtime, updatetime,
		comment, state
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from userinfo
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		userinfo
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.iboyaa.pojo.UserInfo">
		insert into userinfo (id,
		customer, manager,
		phone, createtime, updatetime,
		comment, state)
		values
		(#{id,jdbcType=INTEGER}, #{customer,jdbcType=VARCHAR},
		#{manager,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP},
		#{comment,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT})
	</insert>
	<!-- useGeneratedKeys="true" keyProperty="id" 用来配置自动返回主键值，id对应的数据库主键的字段名 -->
	<insert id="insertSelective" parameterType="com.iboyaa.pojo.UserInfo"
		useGeneratedKeys="true" keyProperty="id">
		insert into userinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="customer != null">
				customer,
			</if>
			<if test="manager != null">
				manager,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="updatetime != null">
				updatetime,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="customer != null">
				#{customer,jdbcType=VARCHAR},
			</if>
			<if test="manager != null">
				#{manager,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.iboyaa.pojo.UserInfo">
		update userinfo
		<set>
			<if test="customer != null">
				customer = #{customer,jdbcType=VARCHAR},
			</if>
			<if test="manager != null">
				manager = #{manager,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.iboyaa.pojo.UserInfo">
		update userinfo
		set customer = #{customer,jdbcType=VARCHAR},
		manager =
		#{manager,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=TIMESTAMP},
		updatetime =
		#{updatetime,jdbcType=TIMESTAMP},
		comment =
		#{comment,jdbcType=VARCHAR},
		state = #{state,jdbcType=TINYINT}
		where id
		= #{id,jdbcType=INTEGER}
	</update>
</mapper>